<div class="contact_form comment-form-wrap wow fadeIn">
	<div id="message"></div>
	<%= bootstrap_form_for @letter do |f| %>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<%= f.text_field :personal_name, label: 'Name', class: 'form-control', placeholder: 'Enter your name' %>
		</div>				
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<%= f.text_field :company_name, label: 'Company Name', class: 'form-control', placeholder: 'Enter company Name' %>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<%= f.text_field :mail, label: 'E-mail', class: 'form-control', placeholder: 'Enter E-mail' %>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<%= f.text_field :company_address, label: 'Address', class: 'form-control', placeholder: 'Enter your address' %>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<%= f.text_field :tel, label: 'Phone', class: 'form-control', placeholder: 'Enter your phone' %>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<%= f.text_area :msg, label: 'msg' %>
			<%= f.submit 'Sent', class: 'btn btn-primary btn-block', id: 'submit' %>
		</div>
	<% end %>
</div>