<section class="pageheader lighthead box-shadow grey">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<% if session[:lang]=='cn' %>
					<h1><%= @product.pname %></h1>
				<% else %>
					<h1><%= @product.pname_en %></h1>
				<% end %>
			</div>
			<div class="col-md-3">
        <ol class="breadcrumb text-right">
          <li><%=link_to t(:breadcrumb_home), index_path %></li>
          <li class="active"><% t(:menu_b) %></li>
        </ol>
			</div>
		</div>
	</div>
</section>
<% if session[:lang]=='cn' %>
	<%= render 'cn' %>
<% else %>
	<%= render 'en' %>
<% end %>
